<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <%= erb :"partials/header" %>
    <br>
    <br><br>
    <br>
    <div>
      <img id="artisan"src="cookies.jpg" alt="cookies">
      <h1>Cookies!!!!</h1>
    </div>
    <br>
    <br>
    <div class="number1">
    <h1> Name: <%= @chocolate.name %></h1>
    <br>
    <h1>Price: <%= @chocolate.price %></h1>
    <br>
    <h2>Descrption: <%= @chocolate.description %></h2>
    <img src="<%= @chocolate.img %>">
    </div>
    <div class="number1">
    <h1> Name: <%= @confetti.name %></h1>
    <br>
    <h1>Price: <%= @confetti.price %></h1>
    <br>
    <h2>Description: <%= @confetti.description %></h2>
    <br>
    <img src="<%= @confetti.img %>">
    </div>
    <div class="number1">
      <h1> Name: <%= @smores.name %></h1>
      <br>
      <h1>Price: <%= @smores.price %></h1>
      <br>
      <h2>Description: <%= @smores.description %></h2>
      <img src="<%= @smores.img %>">
      </div>

      <script src="main.js">

      </script>
  </body>
</html>
