<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <%= erb :"partials/header" %>
    <br>
    <br><br>
    <br>
    <div>
      <img id="artisan"src="muffin.jpg" alt="">
      <h1>Crazy for Muffins?</h1>
    </div>
    <br>
    <br>
    <br>
    <div class="number1">
    <h1> Name: <%= @doublechocolate.name %></h1>
    <br>
    <h1>Price: <%= @doublechocolate.price %></h1>
    <br>
    <h2>Descrption: <%= @doublechocolate.description %></h2>
    <img src="<%= @doublechocolate.img %>">
    </div>
    <div class="number1">
    <h1> Name: <%= @blueberry.name %></h1>
    <br>
    <h1>Price: <%= @blueberry.price %></h1>
    <br>
    <h2>Description: <%= @blueberry.description %></h2>
    <br>
    <img src="<%= @blueberry.img %>">
    </div>
    <div class="number1">
      <h1> Name: <%= @french.name %></h1>
      <br>
      <h1>Price: <%= @french.price %></h1>
      <br>
      <h2>Description: <%= @french.description %></h2>
      <img src="<%= @french.img %>">
      </div>
      <script src="main.js">

      </script>
  </body>
</html>
